<!doctype html>
<html lang="en">

<head>
      <link rel="shortcut icon" href="#">
      <link rel="stylesheet" href="../static/style.css">
      <meta name="viewport" content="width=device-width, initial scale=1">
      <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,700" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script type="text/javascript" src="../static/train_js.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script type="text/javascript" src="/static/getcuisine.js"></script>
      <meta charset="utf-8">
      <title>Get Cuisine</title>

</head>

<body>

      <div class="wrapper">
            <div class="welcome">
                  Welcome to <span class="title">Get Cuisine!</span><br />
                  We provide you the best cuisine to look for with your ingredients.
            </div>
            <div class="ingredient">
                  <ul></ul>
            </div>
            <div class="inputwrapper">
                  <input type="text" id="ingredients" name="ingredients">
            </div>
            <div class="search" id="getCuisine" action="" method="post">Search</div>
      </div>

      <!--Box to display the prediction result-->
      <div class="greybox">
            <div class="result">
                  <div class="xmark">
                        <svg width="50" height="50">
                              <path d="M10 10 L40 40 M40 10 L10 40" />
                        </svg>

                  </div>
                  <div class="resulttext">Look for <span class="prediction"></span> foods to cook!</div>
                  <a id="redirect_search" target="_blank" href="#"><div class="search" id="searchGoogle">Search Recipes on Google</div></a>
            </div>
      </div>

    
</body>

</html>